@charset "utf-8";

.topBarLeft a, .topBarLeft a:link, .topBarLeft a:active, .topBarLeft a:visited
{
	color:#FFF;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:16px;
	padding-bottom:16px;
	margin-left:-15px;
	margin-right:15px;
}

.topBarLeft a:hover
{
	color:#FFF;
	text-decoration:none;
	background-color:#666;
}

.topBarRight a, .topBarRight a:link, .topBarRight a:active, .topBarRight a:visited
{
	color:#FFF;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:16px;
	padding-bottom:16px;
	margin-left:15px;
	margin-right:-15px;
}

.topBarRight a:hover
{
	color:#FFF;
	text-decoration:none;
	background-color:#666;
}

.navTreeBar a, .navTreeBar a:link, .navTreeBar a:active, .navTreeBar a:visited
{
	color:#666;
	text-decoration:none;
}

.navTreeBar a:hover
{
	color:#666;
	text-decoration:underline;
}

.toggleIslands a, .toggleIslands a:link, .toggleIslands a:active, .toggleIslands a:visited
{
	color:#F60;
	text-decoration:none;
	position:absolute;
	top:-24px;
	right:0;
	z-index:10;
	opacity:0.4;
	font-size:16px;
}

.toggleIslands a:hover
{
	color:#F60;
	text-decoration:none;
	opacity:1.0;
}

.popOutMenuContent a, .popOutMenuContent a:link, .popOutMenuContent a:active, .popOutMenuContent a:visited
{
	color:#FFF;
	text-decoration:none;
	display:block;
	padding:8px;
}

.popOutMenuContent a:hover
{
	color:#FFF;
	text-decoration:none;
	display:block;
	padding:8px;
}

.popOutMenuHeader a, .popOutMenuHeader a:link, .popOutMenuHeader a:active, .popOutMenuHeader a:visited
{
	color:#FFF;
	text-decoration:none;
}

.popOutMenuHeader a:hover
{
	color:#FFF;
	text-decoration:none;
}

.fadedLink a, .fadedLink a:link, .fadedLink a:active, .fadedLink a:visited
{
	color:#000;
	text-decoration:none;
	opacity:0.4;
}

.fadedLink a:hover
{
	color:#000;
	text-decoration:none;
	opacity:1.0;
	transition:ease-in 0.2s;
}

.forumTitleLink a, .forumTitleLink a:link, .forumTitleLink a:active, .forumTitleLink a:visited
{
	color:#000;
	text-decoration:none;
	font-size:16px;
}

.forumTitleLink a:hover
{
	color:#F60;
	text-decoration:none;
	transition:ease-in 0.2s;
}

a, a:link, a:active, a:visited
{
	color:#003;
	text-decoration:none;
}

a:hover
{
	color:#F60;
	text-decoration:underline;
}

.footerLeft a, .footerLeft a:link, .footerLeft a:active, .footerLeft a:visited
{
	color:#FFF;
	text-decoration:none;
}

.footerLeft a:hover
{
	color:#F60;
	text-decoration:none;
}

.footerRight a, .footerRight a:link, .footerRight a:active, .footerRight a:visited
{
	color:#FFF;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:8px;
	padding-bottom:8px;
	border-radius:3px;
	margin-right:-15px;
	margin-left:15px;
}

.footerRight a:hover
{
	color:#FFF;
	text-decoration:none;
	background-color:#666;
}

.forumsLayoutSubForums a, .forumsLayoutSubForums a:link, .forumsLayoutSubForums a:active, .forumsLayoutSubForums a:visited
{
	color:#000;
	text-decoration:none;
}

.forumsLayoutSubForums a:hover
{
	color:#F60;
	text-decoration:none;
	transition:ease-in 0.2s;
}

.dialogHeader a, .dialogHeader a:link, .dialogHeader a:active, .dialogHeader a:visited
{
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	width:24px;
	height:24px;
	border-radius:50%;
	border:3px solid #999;
	background-color:#000;
	position:absolute;
	top:-17px;
	right:-16px;
	z-index:31;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.dialogHeader a:hover
{
}

.facebookButton a, .facebookButton a:link, .facebookButton a:active, .facebookButton a:visited
{
	background-color:#4267B2;
	color:#FFF;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:6px;
	padding-bottom:6px;
	margin-right:8px;
	border-radius:3px;
	display:inline-block;
}

.facebookButton a:hover
{
	background-color:#839AC9;
}

.twitterButton a, .twitterButton a:link, .twitterButton a:active, .twitterButton a:visited
{
	background-color:#0097C4;
	color:#FFF;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:6px;
	padding-bottom:6px;
	margin-right:8px;
	border-radius:3px;
	display:inline-block;
}

.twitterButton a:hover
{
	background-color:#04C2F2;
}

.rssIcon a, .rssIcon a:link, .rssIcon a:active, .rssIcon a:visited
{
	color:#F89839;
	text-decoration:none;
}

.rssIcon a:hover
{
	color:#E87A0E;
	text-decoration:none;
}

.contentHeader a, .contentHeader a:link, .contentHeader a:active, .contentHeader a:visited
{
	color:#000;
	text-decoration:none;
}

.contentHeader a:hover
{
	color:#F60;
	text-decoration:none;
	transition:ease-in 0.2s;
}